/* common css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    display: block;
    width: 100%;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 85vw;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    color: var(--white);
    background: var(--nav-linear);
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}
:root{
    --nav-linear: #ff42a5;
    --nav-color: #3C354F;
    --white: #FFF;
    --heading-color: #0B0223;
    --header-linear: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --para: #534C64;

}
/* common css end */
/* header css start */
/* navbar css start */
header #nav-bar{
    background: var(--white);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 30px 0;
}
header #nav-bar .container{
    justify-content: space-between;
    align-items: center;
}
header #nav-bar .container .logo{
    display: flex;
    align-items: center;
}
header #nav-bar .container .logo img{
    width: 85px;
}
header #nav-bar .container .logo .logo-name{
    color: var(--heading-color);
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 20px;
}
header #nav-bar .container .logo .logo-name span{
    color: var(--nav-linear);
}
header #nav-bar .container nav ul li,
header #nav-bar .container nav ul .nav_icon_group{
    display: inline-block;
}
header #nav-bar .container nav ul li a{
    color: var(--nav-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 15px;
}
header #nav-bar .container nav ul .nav_icon_group{
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
}
header #nav-bar .container nav ul li a.icon{
    padding: 15px 10px;
}
header #nav-bar .container nav ul li a i{
    font-size: 1.5rem;
}
header #nav-bar .container nav ul li a i.fa-youtube{
    color: #F61C0D;
}
header #nav-bar .container nav ul li a i.fa-tiktok{
    color: #000;
    text-shadow: 1px -2px 2px rgba(8,255,249,0.6);
}
/* navbar css end */
/* banner css start */
header #banner .banner_contain{
    align-items: center;
}
header #banner .banner_contain .info,
header #banner .banner_contain .banner_img{
    width: 50%;
}
header #banner .banner_contain .info h1{
    color: var(--heading-color);
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}
header #banner .banner_contain .info h1 span{
    display: block;
    font-size: 5.9rem;
    font-weight: 800;
    background: var(--header-linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header #banner .banner_contain .info p{
    color: var(--para);
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 20px;
}
header #banner .banner_contain .info p i{
    color: var(--nav-linear);
    margin-right: 10px;
    text-align: center;
    width: 24px;
    height: 24px;
}
header #banner .banner_contain .info p i.fa-play{
    line-height: 24px;
    border: 1px solid var(--heading-color);
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
}
header #banner .banner_contain .info p i.fa-user-group{
    color: var(--heading-color);
    background: none;
    -webkit-text-fill-color: unset;
}
header #banner .banner_contain .info .links{
    margin-top: 40px;
}
header #banner .banner_contain .info .banner-btn{
    background: #4EC5F7;
    margin-left: 24px;
}
/* banner css end */
/* header css end */
/* main css start */
/* gamer css start */
#gamer{
    padding: 50px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
main .gamer_contain{
    align-items: center;
}
main .gamer_contain .img{
    width: 55%;
}
main .gamer_contain .text{
    width: 45%;
    text-align: end;
}
.text h3{
    color: var(--heading-color);
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.text h3 span{
    background: var(--header-linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text p{
    color: var(--para);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9rem;
    margin-bottom: 20px;
}
.text .btn{
    margin-bottom: 20px;
}
.text .more_info{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.8rem; 
}
.text .more_info span{
    display: block;
    font-size: 2rem;
    font-weight: 700;
}
/* gamer css end */
/* online_game css start */
main #online_game{
    padding: 100px 0;
}
main #online_game .text{
    text-align: center;
    margin-bottom: 24px;
}
main #online_game .game_card_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
}
main #online_game .game_card_container .img{
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}
main #online_game .game_card_container .img .overlay{
    background: rgba(0, 0, 0, .6);
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
main #online_game .game_card_container .img:hover .overlay{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
main #online_game .game_card_container .img .overlay i{
    color: var(--white);
    font-size: 3rem;
    cursor: pointer;
    margin-bottom: 15px;
}
main #online_game .game_card_container .img .overlay a{
    background: var(--nav-linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main #online_game .game_card_container .game_card p{
margin-top: 24px;
}
main #online_game .game_card_container .game_card p,
main #online_game .game_card_container .game_card p a{
    color: var(--para);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.9rem;
    font-size: 1.3rem;
    font-weight: 600;
    
}
/* online_game css end */
/* new game css start */
main #new_game{
    padding-bottom: 100px;
}
main #new_game .game_container{
    align-items: center;
} 
main #new_game .text,
main #new_game .img{
    width: 50%;
}
main #new_game .text{
    padding-right: 180px;
    text-align: end;
}
main #new_game .img {
    position: relative;
}
main #new_game .img .img_overlay{
    width: 50%;
    position: absolute;
    bottom: -20%;
    left: -25%;
}
/* new game css end */
/* new game second css start */
main #new_game.second{
    padding: 100px 0 125px;
    margin-bottom: 100px;
}
main #new_game.second .game_container{
    flex-direction: row-reverse;
}
main #new_game.second .img .img_overlay{
    left: unset;
    right: -25%;
}
main #new_game.second .text{
    padding: 0;
    padding-left: 180px;
    text-align: start;
}
/* new game second css end */
/* games css start */
main #games{
    padding-bottom: 100px;
}
main #games .games_container{
    justify-content: center;
    
}
main #games .games_container .game_info{
    width: calc(100% / 5);
}
main #games .games_container .game_info > a{
    display: flex;
    align-items: center;
}
main #games .games_container .game_info a img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 16px;
}
main #games .games_container .game_info a{
    padding: 10px;
    color: var(--heading-color);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50px;transition: all .6s;
}
main #games .games_container .game_info a:hover{
    color: var(--nav-linear);
    border: 1px solid var(--nav-linear);   
}
/* games css end */
/* main css end */
/* footer css start */
footer{
    background: var(--heading-color);
    text-align: center;
    padding: 75px 0;
}
footer .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
footer .logo img{
    width: 85px;
}
footer .logo .logo-name{
    color: var(--white);
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 20px;
}
footer .logo .logo-name span{
    color: var(--nav-linear);
}
footer .links{
    justify-content: center;
    padding: 15px 0;
}
footer .links a{
    padding: 0 20px;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
}
footer .icons{
    justify-content: center;
    padding: 15px 0;
}
footer .icons a{
    padding: 0 20px;
}
footer .icons a i{
    color: var(--white);
    font-size: 2rem;
}
footer .terms{
    justify-content: center;
    padding: 15px 0;
}
footer .terms a{
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}
footer .last_text{
    padding: 15px 0;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}
/* footer css end */